<h1>Novo item de estudo</h1>

<%= form_with model: @study_item do |f| %>
  <div>
    <%= f.label :title, 'Título' %>
    <%= f.text_field :title %>
  </div>
  <div>
    <%= f.label :category, 'Categoria' %>
    <%= f.text_field :category %>
  </div>
  <div>
    <%= f.label :description, 'Descrição' %>
    <%= f.text_area :description %>
  </div>
  <%= f.submit 'Enviar' %>
<% end %>